<div class="main">
    <h1>コメント作成</h1>

    <%= form_tag("/reports/create") do %>
    <div class="report-new">
        <div class="error-messages">
            <% @report.errors.full_messages.each do |message| %>
                <p><%= message %></p>
            <% end %>
        </div>

        <div>
            <p>日報内容</p>
            <textarea name="content"><%= @report.content %></textarea>
        </div>

        <input type="submit" value="作成" class="new-btn">
    </div>
    <% end %>
</div>
