<div class="main">
    <h1>マイページ</h1>

    <div class="user">
        <div class="user-page">
            <div class="user-img">
                <img src="/user-image/<%= @user.user_img %>">
            </div>
            <p><%= @user.name%></p>
        </div>

        <div class="user-report">
            userreport
        </div>
    </div>
</div>

