/*---------------------------*/
/* login */
.toppage-img img{
    width: 100%;
    margin: 20px 0px;
}

.login-btn {
    width: 150px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    background-color: greenyellow;
    font-size: 20px;
    border-radius: 10px;
}

#login_form {
    display: none;
}

/*---------------------------*/
/* index */
.user {
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
}

.user-page {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.user-page p {
    font-size: 20px;
    margin: 20px 0px;
}

.user-img img {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 50%;
}

.user-btn {
    float: right;
}

.user-btn a {
    color: black;
    text-decoration: none;
}

.user-create-btn{
    display: inline-block;
    width: 130px;
    height: 30px;
    background-color: lightgrey;
    margin-right: 20px;
    text-align: center;
    line-height: 28px;
}

.user-destroy-btn {
    display: inline-block;
    float: right;
    width: 130px;
    height: 30px;
    background-color: lightgrey;
    text-align: center;
    line-height: 28px;
}
