/*---------------------------*/
/* index */
.user {
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
}

.user-page {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.user-page p {
    font-size: 20px;
    margin: 20px 0px;
}

.user-img img {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 50%;
}

