<div class="main">
    <h1>日報詳細</h1>

    <div class="report-new">
        <div>
            <p>タイトル</p>
                <div class="show-title">
                    <%= @report.title %>
                </div>
            <p>日報内容</p>
                <div class="show-content">
                    <%= @report.content %>
                </div>
        </div>

        <% if @report.user_id == @current_user.id %>
            <div class="edit-btn">
                <%= link_to("編集","/reports/edit/#{@report.id}") %>
            </div>
        <% end %>
        <div class="damy"></div>
    </div>
</div>